{% extends "base.html" %}

{% block content %}
<div>
  <p>Dear colleagues,</p>
  <p>
    The forecast for cyclone {{ name }} produced at {{ pub_date }} has been shared with us by the Fiji Meteorological Service, operators of Regional Specialized Meteorological Centre (RSMC) Nadi.
    The action trigger of the coordinated anticipatory action pilot for tropical cyclones in Fiji has been reached in line with the 72-hour forecast for cyclone {{ name }} shared by the Fiji Meteorological Service, operators of Regional Specialized Meteorological Centre (RSMC) Nadi.
  </p>
  <p>
    All activities in line with the framework document [link] should now commence. OCHA may convene a meeting of the participating partners.
  </p>
  <p>Best wishes and good luck,</p>
  <p>OCHA Center for Humanitarian Data</p>
</div>
{% endblock content %}
