<div class="disclaimer-box">
    This email is purely advisory, and does not serve as an official notice for the anticipatory action framework. Official notices of activation are sent by a separate email. This email also does not constitute an official forecast. Under the World Meteorological Organization's Tropical Cyclone Programme, RSMC Nadi is responsible for monitoring tropical cyclones in the region; the <a href="https://www.met.gov.fj/index.php?page=trackmap">forecast track map</a> published on their website should be treated as authoritative.
</div>
<div>
  <p>Dear colleagues,</p>
  <p>
    The forecast for cyclone {{ cyclone_name }} produced at {{ forecast_display_str }} has been shared with us by the Fiji Meteorological Service, operators of Regional Specialized Meteorological Centre (RSMC) Nadi.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;Readiness trigger: <b>{{ readiness_str }}</b><br>
    &nbsp;&nbsp;&nbsp;Action trigger: <b>{{ action_str }}</b>
  </p>
  <p>
    The number of people forecasted to be exposed to at least 64-knot ("hurricane-force") winds is indicated below. Recall that the trigger threshold is <b>5,000 people</b>.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;Readiness forecast (up to 120 hours): <b>{{ readiness_exp }} people</b><br>
    &nbsp;&nbsp;&nbsp;Action forecast (up to 72 hours): <b>{{ action_exp }} people</b><br>
  </p>
  <p>
    Please find more information about this forecast below. As always, the official TC forecast track map from FMS can be found <a href="https://www.met.gov.fj/tropical-cyclone/tc-forecast-track-map/">online</a>.
  </p>
  <p>Best wishes,</p>
  <p>OCHA Centre for Humanitarian Data</p>
</div>
<hr class="hr-divider">
<div>
  <h2>Forecast information</h2>
  {% if any_34_knot_exposure %}

  <h3>Country-wide exposure</h3>

  {% if any_64_knot_exposure %}
  <p>
    The plot below shows the likely range of population exposure to 64-knot winds.
  </p>
  <img src="data:image/png;base64,{{ img_base64_thermometer }}" style="max-height:400px;"alt="Figure">
  <br>
  <div class="disclaimer-box">
    <p>
      The <em>Most likely</em> value is based on the track forecast without considering the uncertainty cone, and is the value used for triggering (also listed in the section above). The <em>Max. reasonable</em> and <em>Min. reasonable</em> values are calculated by perturbing the track forecast for all points along the cone of uncertainty, and taking the perturbed tracks that cause the highest and lowest population exposures, respectively.
    </p>
    <p>
      Population exposure values for all historical storms that would have triggered the framework are shown on the left. Storms for which there was a CERF allocation are shown in red.
    </p>
  </div>
  {% else %}
  <p><i>No 64-knot exposure is forecasted in Fiji, even in worst case; plot is omitted.</i></p>
  {% endif %}

  <h3>Tikina-level exposure</h3>
  <p>
    The tikina-level predicted exposure is shown in the attached files:
    <ul>
      <li>
        <b><em>{{ forecast_id }}_adm3_exposure.csv</em></b>: data indicating the tikina-level exposure to 34-, 50-, and 64-knots winds. Only the <em>Most likely</em> scenario is indicated. The values are sorted by 64-, then 50-, then 34-knot exposure, so the tikinas with the highest exposure are listed first.
      </li>
      <li>
        <b><em>{{ forecast_id }}_adm3_exposure.pdf</em></b>: plots showing the tikina-level exposure to 34-, 50-, and 64-knots winds. All three scenarios are shown: the <em>Most likely</em>, <em>Max. reasonable total exposure</em>, and <em>Min. reasonable total exposure</em>, corresponding to the three cases outlined in the section above.
      </li>
    </ul>
  </p>
  {% else %}
  <p><i>No exposure forecasted in Fiji, even in worst case.</i></p>
  {% endif %}
</div>
<hr class="hr-divider">
<div>
  <h2>Reference</h2>
  <h3>Framework</h3>
  <p>
    The framework document is available online <a href="https://www.unocha.org/anticipatory-action">here</a>. The trigger mechanism, on page X of the framework document, is:
  </p>
  <div class="disclaimer-box">
    <p>
      This framework will be triggered by a tropical system that either:
    </p>
    <ul>
      <li>
        is forecasted by RSMC Nadi to cause winds of at least 64 knots  in zones where at least 5,000 people live, OR
      </li>
      <li>
        is observed to cause at least 190 mm of rainfall over two consecutive days, averaged over the whole country.
      </li>
    </ul>
    <p>
      Every time RSMC Nadi produces a tropical cyclone track forecast, it will be evaluated by an automated script to determine whether the trigger conditions have been met.
    </p>
    <p>
      The framework follows a 3-stage trigger activation, each part of which is triggered based on the lead time of the points in the forecast, or the observational data:
    </p>
    <ul>
      <li>
        Readiness trigger: If the wind field indicated by the 120-hour forecast meets the trigger conditions, the readiness trigger is activated.
      </li>
      <li>
        Action trigger: If the wind field indicated by the forecast truncated up to a lead time of 72 hours meets the trigger conditions, the action trigger is activated.
      </li>
      <li>
        Observational trigger: If the average rainfall over the whole country during two consecutive days meets the threshold (190 mm), the observational trigger is activated.
      </li>
    </ul>
  </div>
  <div>
    <h3>Monitoring emails</h3>
    <p>
      To be added or removed from the @pacificihumanitarian.org mailing lists for this framework please contact Niko Momoka at <a href="mailto:niko.momoka@un.org">niko.momoka@un.org</a>. You a receiving this email via this mailing list if the mailing list address appears at the bottom of this email. Otherwise, contact OCHA Data Science directly at <a href="mailto:ocha-datascience@un.org">ocha-datascience@un.org</a> directly to be added or removed.
    </p>
  </div>
  <h3>Code</h3>
  <p>
    The code used to produce this alert is available on GitHub <a href="https://github.com/OCHA-DAP/pa-aa-fji-storms">here</a>.
  </p>
</div>
