<div>
  <p>Dear United Nations Resident Coordinator,<br>Dear National Disaster Risk Management Office,<br>Dear Line Ministries,<br>Dear Colleagues,</p>
  <p>
    The <b>readiness trigger</b> of the National Anticipatory Action Framework for Tropical Cyclones in Fiji <b>has been reached</b> in line with the 72-hour forecast for cyclone
    {{ cyclone_name }} produced at {{ forecast_display_str }} by the Fiji Meteorological Service, operators of Regional Specialized Meteorological Centre (RSMC) Nadi.
  </p>
  <p>
    All <b>readiness</b> activities in line with the <a href="https://reliefweb.int/report/fiji/fiji-tropical-cyclones-2023-anticipatory-action-framework">framework document</a> should now commence. CERF funding to UN agencies is being released. OCHA may convene a meeting of the participating partners.
  </p>
  <p>Best wishes and good luck,</p>
  <p>OCHA Centre for Humanitarian Data</p>
</div>
