{% extends "base.html" %}

{% block content %}
<div>
  <p>Dear Resident Coordinator, dear colleagues,</p>
  <p>
    The readiness trigger of the coordinated anticipatory action pilot for tropical cyclones in Fiji has been reached in line with the 120-hour forecast for cyclone {{ name }} produced at {{ pub_time }} on {{ pub_date }} (Fiji local time) by the Fiji Meteorological Service, operators of Regional Specialized Meteorological Centre (RSMC) Nadi.
  </p>
  <p>
    Readiness activities in line with the <a href="https://reliefweb.int/report/fiji/fiji-tropical-cyclones-2023-anticipatory-action-framework">framework document</a> should now commence. CERF funding to UN agencies is being released. OCHA may convene a meeting of the participating partners.
  </p>
  <p>Best wishes and good luck,</p>
  <p>OCHA Center for Humanitarian Data</p>
  <p>
    PS: Please remember that the impact of this pilot will be evaluated and we encourage all partners to document decisions and lessons learned as best as possible during this activation. Finally, please also ensure any visuals, stories, social media is shared with the group.
  </p>
</div>
{% endblock content %}
